<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div phone-search reloadjson="reloadjson()" queryselector-labels="queryselectorLabels" seeimage-labels="seeimageLabels" seeimage="seeimage"
                direccion="direccion" queryselector="queryselector" query="query"></div>
        </div>
        <div class="col-md-10">
            <div phone-list phones="phones" delete-phone="deletePhone(id)" seeimage="seeimage" direccion="direccion" queryselector="queryselector"
                query="query"></div>
            <!--<div my-isolated-scope-with-model phones="phones" seeimage ="seeimage" direccion="direction"></div>-->
        </div>
    </div>
</div>